$color: #fff;
$background: #272733;
$background-footer: #3D4050;

$background-color: #fff;
$background-turquoise: #07C8C8;
$background-turquoise-active: #05dfdf;
$background-button-white: #fff;

$font-basic: 'Lato';
$font-secondary: 'Roboto';