@import 'variables';
@import 'normalize';

body {
    height: 100vh;
    font-family: $font-basic;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

span {
    color: $background-turquoise;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    a {
        font-size: 13px;
        font-weight: 600;
        margin-right: 60px;
        font-family: $font-secondary;
        line-height: 15.23px;
    }

    a:hover, .active {
        color: $background-turquoise;
    }
}

.page {
    background-color: $background;

    &_welcome {
        background: url('../../public/background-block-1.png') no-repeat center center fixed;;
        background-size: cover;
    }

    &_feedback {
        background: url('../../public/background-block-2.svg') no-repeat center center fixed;;
        background-size: cover;
        background-color: $background;
    }

    &_footer {
        background-color: $background-footer;
    }
}

.wrapper {
    max-width: 1164px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_height {
    height: 100px;
}

.footer_height {
    height: 80px;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 780px;
    margin-top: 100px;
    padding-top: 102px;
    padding-bottom: 203px;
    color: #2A2B30;

    &__title {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 57.6px;
    }

    &__text {
        font-size: 20px;

        p:first-child {
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 5px;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__btns {
        display: flex;
        gap: 30px;
        line-height: 15.6px;

        .btn {
            background: $background-turquoise;
            border: 1px solid #fff;
            border-radius: 4px;
            color: #fff;
            padding: 15px;
            cursor: pointer;
            width: 183px;

            &:hover {
                background: $background-turquoise-active;
            }
        }

        .btn-turquoise {
            background: #fff;
            border: 1px solid #2A2B30;
            color: #2A2B30;
        }
    }
}

.feedback {
    text-align: center;
    font-size: 18px;
    padding-top: 121px;
    padding-bottom: 151px;

    &__title {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 30px;
        line-height: 42.19px;
        font-family: $font-secondary;
        font-weight: 400;
    }

    &__text {
        font-size: 20px;
        color: #BBBBBB;
        margin-bottom: 80px;
    }

    &__steps {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 80px;
        font-size: 16px;
        line-height: 19.2px;
        position: relative;
        
        .dots {
            position: absolute;
            top: 50px;
            left:50%;
            transform:translate(-50%, -50%);
        }

        .item {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        line-height: 21.6px;

        .input-block {
            width: 31.6%;
        }

        select {
            padding: 10px;
            border-radius: 3px;
            border: none;
            opacity: 0.8;
            outline: none;
        }

        input[type=text] {
            padding: 10px;
            border-radius: 3px;
            border: none;
            opacity: 0.8;
            outline: none;
        }

        input[type=text]:focus {
            opacity: 1;
        }

        input[type=email] {
            padding: 10px;
            border-radius: 3px;
            border: none;
            opacity: 0.8;
            outline: none;
        }

        input[type=email]:focus {
            opacity: 1;
        }

        input[type=submit] {
            font-size: 15px;
            font-family: $font-secondary;
            line-height: 17.58px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #FFFFFF;
            outline: none;
            cursor: pointer;
            background: $background-turquoise;
            color: #fff;
        }

        input[type=submit]:hover {
            background: $background-turquoise-active;
        }

        .input-range {
            width: 65.8%;
            line-height: 21.6px;

            div {
                display: flex;
                justify-content: space-between;
            }

            p:last-child {
                color: #fff8;
            }
        }
          
        input[type=range] {
            width: 100%;
            -webkit-appearance: none;
            height: 6px;
            border-radius: 5px;
            border: 1px solid #fff;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
        }
        
        input[type=range]:hover {
            opacity: 1;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 40px;
            height: 40px;
            background: url('../../public/page/feedback/vector_range.svg');
            cursor: pointer;
        }
          

        .input-file {
            font-family: $font-secondary;
            font-weight: 300;
            cursor: pointer;
            position: relative;
            outline: none;
            font-size: 15px;
            line-height: 17.58px;
            border-radius: 3px;
            background-color: #fff;
            color: #272733;
            padding: 0 20px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                margin-left: 10px;
                text-transform: uppercase;
            }
        }
        
        .input-file input[type=file] {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
    }
}

footer {
    width: 100%;

    .border {
        padding-left: 40px;
        padding-right: 40px;
        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #C3C3C3;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 38px;

        &__item {
            display: flex;
            gap: 10px;
            a:hover {
                color: #C3C3C3;
            }

            &-grey{
                display: flex;
                gap: 10px;
                a {
                    color: #C3C3C3;
                    &:hover {
                     color: #fff;
                    }
                }
            }
        }
    }
}

